.title {
  color: #FFF;
  text-align: center;
  font-size: 5rem;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: 106.5%;
}
.subtitle {
  color: rgba(255, 255, 255, 0.30);
  text-align: center;
  font-size: 15px;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  padding: 1rem;
}